
    <div class="footer-contents">

        <a class="footer-links"> Become a Seller</a>
        <a class="footer-links">Policies</a>
        <a class="footer-links">Terms and Conditions</a>
        <a class="footer-links">Help Center</a>
        <a class="footer-links">News</a>
    
        <a class="footer-links">Facebook</a>
        <a class="footer-links">Youtube</a>
        <a class="footer-links">Sitemap</a>
        <a class="footer-links">FAQ</a>
        
    
    </div>
    <div class="footer-logo">
        <h6>@ E-Comm Project</h6>
    </div>
    

